<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated openapi.profile -->
      <package
            uri="http://edu.uoc.som/openapi/profile/2.0"
            class="edu.som.uoc.openapi2.profile.OpenAPIProfilePackage"
            genModel="resources/openapi.profile.genmodel"/>
   </extension>

</plugin>
