<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated openapi.profile -->
      <package
            uri="http://edu.uoc.som/openapi/profile/2.0"
            class="edu.uoc.som.openapi2.profile.OpenAPIProfilePackage"
            genModel="resources/openapi.profile.genmodel"/>
   </extension>
    <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://OPENAPI_PROFILES/"
            target="platform:/plugin/edu.uoc.som.openapi2.profile/resources/">
      </mapping>
   </extension>
     <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://OPENAPI_PROFILES/openapi.profile.uml#_8zK3wHyGEemaV87q0fd26g"
            uri="http://edu.uoc.som/openapi/profile/2.0">
      </profile>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="OpenAPI profile"
            iconpath="icons/icon.png"
            name="OpenAPI"
            path="pathmap://OPENAPI_PROFILES/openapi.profile.uml">
      </profile>
   </extension>

</plugin>
